 <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/estilos.css" />   
    <link rel="stylesheet" href="~/Content/menu.css" />
    <link rel="stylesheet" href="~/content/bootstrap-datepicker.min.css" />
    <script type="text/javascript" src="~/scripts/jquery-3.2.1.min.js"> </script>
    <script type="text/javascript" src="~/scripts/bootstrap-datepicker.min.js"> </script>
    <script type="text/javascript" src="~/scripts/jquery.form-validator.min.js"> </script>
    
</head>
<body>
    <div id="main">
        <ul id="nav">
            <li class="home"><a href="http://localhost:49231/Home/Index">Inicio</a></li>
            <li class="tutorials"><a href="http://localhost:49231/Usuario/Usuario">Usuario</a></li>
            <li class="about"><a href="http://localhost:49231/Bienes/Registrar">Registro</a></li>
            <li class="news"><a href="http://localhost:49231/Prestamo/Prestamo">Prestamo</a></li>
            <li class="contact"><a href="http://localhost:49231/Impresion/Impresion">Impresion</a></li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

 
    @RenderSection("scripts", required: false)
</body>
</html>
