@{
    ViewBag.Title = "Home Page";
}

<div class="smart-slider-canvas-inner" style="width: 939px; height: 169px; margin-left: 0px; margin-right: 0px;">


    <img class="img-responsive" src="descarga.jpg" alt="Chania">



</div>