@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<<<<<<< HEAD
    <h1>El Porvenir</h1>
    <h3>Sistema de Administración de Bienes</h3>
    <p class="lead">Este sistema brinda una herramienta que permite administrar los bienes de la empresa.</p>

    <div >
=======
    <h1 align="center">EL PORVENIR</h1>
    <h3 align="center">Sistema de Administración de Bienes</h3>
   

    <div>
>>>>>>> a8e3a9d16791cbe2300a3b5bcf08011911c324e4
        <table class="table table-striped">
            <tr>
                <td>Usuario</td>
                <td>

<<<<<<< HEAD
                    <input type="text" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar el usuario " maxlength="10"  id="usuario" />
=======
                    <input type="text" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar el usuario " maxlength="10" id="usuario" />
>>>>>>> a8e3a9d16791cbe2300a3b5bcf08011911c324e4
                </td>

                <td>Clave</td>
                <td>

<<<<<<< HEAD
                    <input type="password" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar la clave " maxlength="10"  id="numeroclave" />
=======
                    <input type="password" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar la clave " maxlength="10" id="numeroclave" />
>>>>>>> a8e3a9d16791cbe2300a3b5bcf08011911c324e4
                </td>

                <td colspan="4" align="right">
                    <input type="submit" value="Ingresar" class="btn-primary" />
<<<<<<< HEAD
                    </td>

</tr>
        </table>
</div>
   
=======
                </td>

            </tr>
        </table>
    </div>

>>>>>>> a8e3a9d16791cbe2300a3b5bcf08011911c324e4
</div>

<div class="row">
    <div class="col-md-4">
<<<<<<< HEAD
        <h2>Quiénes somos</h2>
        <p>
            es una administradora de fondos de pensiones y cesantías constituida en 1991, como fondo de cesantías únicamente.
            Desde sus inicios Porvenir se ha consolidado como la sociedad administradora con la mayor cantidad de afiliados y de recursos administrados en los fondos de pensiones obligatorias y de cesantías.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Funciones y deberes</h2>
        <p>De conformidad con lo establecido en el art.30 del Estatuto Orgánico del Sistema Financiero,
           las Sociedades Administradoras de Fondos de Pensiones y Cesantías, tienen por objeto
           exclusivo la administracion y manejo de los fondos de cesantia que se constituyan en desarrollo
        de lo previsto en el articulo 99 de la ley 50 de 1990 y la administracion de los fondos de pensiones autorizados por la ley.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Servicio al cliente</h2>
        <p>Bogota 744 76 78   
           Carrera 13 N° 26A-65
        </p>
        
=======
        <h2 align="center" >¿Quiénes somos?</h2>
        <p align="center">
            Es una administradora de bienes constituida en 1991, como sistema de administracion de bienes empresariales.
            Desde sus inicios El Porvenir se ha consolidado como la sociedad administradora con la mayor cantidad de bienes administrados.
        </p>

    </div>
    <div class="col-md-4">
        <h2 align="center">Funciones y deberes</h2>
        <p align="center">
            Nuestra funcion es la administracion de bienes que constituyen a la empresa El Porvenir, que controla los activos entrantes y salientes 
            de nuestra empresa y que a la vez gestiona el prestamo de los mismos, con el objetivo de ser un sistema constituido para suplir las
            necesidades que presenta la empresa en el manejo de bienes.
        </p>

    </div>
    <div class="col-md-4">
        <h2 align="center">Contacto</h2>
        <p align="center">
           Lineas de atencion Medellin 457-39-22 Bogota 744-76-78
           Linea Nacional 018000879867
           Carrera 13 N° 26A-65 Medellin
        </p>

>>>>>>> a8e3a9d16791cbe2300a3b5bcf08011911c324e4
    </div>
</div>