@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 align="center">El Porvenir</h1>
    <h3 align="center">Sistema de Administración de Bienes</h3>
    <p class="lead" align="center">Este sistema brinda una herramienta que permite administrar los bienes de la empresa.</p>

    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-4">

            <h2 align="center">Quiénes somos</h2>
            <p align="center">
                es una administradora de fondos de pensiones y cesantías constituida en 1991, como fondo de cesantías únicamente.
                Desde sus inicios Porvenir se ha consolidado como la sociedad administradora con la mayor cantidad de afiliados y 
                de recursos administrados en los fondos de pensiones obligatorias y de cesantías.
            </p>

        </div>
        <div class="col-md-4">
            <h2 align="center">Funciones y deberes</h2>
            <p align="center">
                De conformidad con lo establecido en el art.30 del Estatuto Orgánico del Sistema Financiero,las Sociedades
                Administradoras de Fondos de Pensiones y Cesantías, tienen por objeto exclusivo la administracion y manejo 
                de los fondos de cesantia que se constituyan en desarrollo de lo previsto en el articulo 99 de la ley 50 de
                1990 y la administracion de los fondos de pensiones autorizados por la ley.
            </p>

        </div>
        <div class="col-md-4">
            <h2 align="center">Servicio al cliente</h2>
            <p align="center">
                Bogota 744 76 78
                Carrera 13 N° 26A-65
            </p>


        </div>



    </div>
</div>