
@{
    ViewBag.Title = "prestamo";
}

<div class="panel panel-default">
    <div class="panel-heading">Prestamo de bienes</div>
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="registro" role="form" method="post" action="">

            <table class="table table-striped">

                <tr>

                    <td> Tipo de bien</td>
                    <td>

                        <select class="form-control" id="listadoBienes" data-validation="required" data-validation-error-msg="Debe seleccionar un tipo de bien ">
                            <option></option>
                            <option>Electronico</option>
                            <option>Muebles y enceres</option>
                            <option>Inmuebles</option>
                            <option>Vehiculos</option>

                        </select>
                    </td>
                    <td>Serial</td>
                    <td><input type="text" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar un numero serial " maxlength="10" placeholder="Numero de serie" id="numeroSerial" /> </td>


                </tr>
                <tr>
                    <td>valor</td>
                    <td><input type="number" class="form-control numero" data-validation="required" data-validation-error-msg="Debe ingresar el valor del bien " maxlength="20" placeholder="Valor" id="valordelbien" /></td>

                </tr>

                <tr>
                    <td>Persona a cargo</td>
                    <td><input type="text" class="form-control" data-validation="required" data-validation-error-msg="Debe digitar la persona que esta acargo del bien" maxlength="20" placeholder="Persona a cargo" id="nombrepersonaacargo" /></td>

                </tr>

                <tr>

                    <td>Fecha de Compra</td>

                    <td>
                        <div class="input-group date fecha">
                            <input type="text" class="form-control datepicker" id="fechacompra">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>

                </tr>

                <tr>

                    <td>Fecha de Ingreso</td>

                    <td>
                        <div class="input-group date fecha">
                            <input type="text" class="form-control datepicker" id="fechaingreso">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>

                </tr>

                <tr>
                    <td>Descripcion</td>
                    <td><textarea cols="30" rows="4" data-validation="required" data-validation-error-msg="Debe digitar la descripcion del bien " maxlength="100" placeholder="Descripcion" id="descripciondelbien"> </textarea></td>

                </tr>



                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="Registrar" class="btn-primary" />
                    </td>
                </tr>


            </table>

            <div class="container">
                <h2 style="text-align:center">REGISTRO DE BIENES </h2>
                <p>A continuacion se presenta el registro de bienes:</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Bien</th>
                            <th>Serial</th>
                            <th>Valor</th>
                            <th>Persona a cargo</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                            <td>mary@example.com</td>

                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                            <td>july@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
</div>








<script>
    var spanishLanguage = {
        errorTitle: 'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validationOnBlur: false, // distable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' wich is default
        scrollToTopOnError: true, // set this property to true on longer form
        language: spanishLanguage
    });


    $('.fecha').datepicker({
        language: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true

    });

    $(".numero").keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');

    });

    $('#registro').submit(function (event) {

        if ($('#numeroSerial').val().length < 6) {
            bootstrap_alert.warning('El numero de documento debe tener minimo seis digitos')
            return false;
        }


    });


    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
        html('<div class="alert alter-danger"><a class="close" data-dismiss="alert">x</a><span>' + message + '</span></div>');
    };




</script>

