
@{
    ViewBag.Title = "Prestamo";
}

<div class="panel panel-default">

    <h1 style="text-align:center">PRESTAMO DE ACTIVOS</h1>

    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="registro" role="form" method="post" action="">

            <table class="table table-striped">

                <tr>



                    <td>Nombre</td>

                    <td><input type="text" class="form-control text-center " data-validation="required" data-validation-error-msg="Digite su nombre" maxlength="40" placeholder="Nombre" id="Nombre" /> </td>
                   
                    
                     <td>Apellido</td>
                    <td><input type="text" class="form-control text-center " data-validation="required" data-validation-error-msg="Digite su Apellido " maxlength="40" placeholder="Apellido" id="Apellido" /> </td>

                    



                </tr>
                <tr>
                    <td>Número de documento</td>

                    <td>

                        <input type="text" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar el numero de documento " maxlength="10" placeholder="Numero de documento" id="numerodocumento" />
                    </td>
                    <td>Cargo</td>
                    <td><input type="text" class="form-control text-center " data-validation="required" data-validation-error-msg="Digite su Cargo " maxlength="40" placeholder="Perfil" id="cargodelempleado" /> </td>



                </tr>

                <tr>
                    <td>Tipo de Bien</td>
                    <td><input type="text" class="form-control" data-validation="required" data-validation-error-msg="Digite el bien a solicitar" maxlength="50" placeholder="Tipo de Bien" id="tipodebien" /></td>


    <td>Serial</td>
    <td><input type="text" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar un numero serial " maxlength="20" placeholder="Numero de serie" id="numeroSerial" /> </td>

    </tr>

    
                <tr>

                    <td>Fecha de Prestamo</td>

                    <td>
                        <div class="input-group date fecha">
                            <input type="text" class="form-control datepicker" id="fechacompra">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>



                    <td>Fecha de finaliazacion de prestamo</td>

                    <td>
                        <div class="input-group date fecha">
                            <input type="text" class="form-control datepicker" id="fechaingreso">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>

                </tr>

    <tr>
        <td align="right" colspan="4">
            <input type="submit" value="Ingresar" class="btn-primary" /> &nbsp; &nbsp; &nbsp;
            <input type="button" value="Cancelar" class="btn-primary" /> &nbsp; &nbsp; &nbsp;
            <input type="button" value="Imprimir" class="btn-primary" /> &nbsp; &nbsp; &nbsp;


    </tr>

        </form>
    </div>


</div>









<script>
    var spanishLanguage = {
        errorTitle: 'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validationOnBlur: false, // distable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' wich is default
        scrollToTopOnError: true, // set this property to true on longer form
        language: spanishLanguage
    });


    $('.fecha').datepicker({


        startDate: '+17d', 
        
        language: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true

    });

    $(".numero").keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');

    });

    $('#Ingresar').submit(function (event) {

        if ($('#numeroSerial').val().length < 6) {
            bootstrap_alert.warning('El numero de documento debe tener minimo seis digitos')
            return false;
        }


    });


    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
        html('<div class="alert alter-danger"><a class="close" data-dismiss="alert">x</a><span>' + message + '</span></div>');
    };




</script>

