
@{
    ViewBag.Title = "Registrar";
}

<div class="panel panel-default">
    <div class="panel-heading">Registro de bienes</div>
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="registro" role="form" method="post" action="">

            <table class="table table-striped">

                <tr>

                    <td> Tipo de bien</td>
                    <td>

                        <select class="form-control" id="listadoBienes" data-validation="required" data-validation-error-msg="Debe seleccionar un tipo de bien ">
                            <option></option>
                            <option>Electronico</option>
                            <option>Muebles y enceres</option>
                            <option>Inmuebles</option>
                            <option>Vehiculos</option>

                        </select>
                    </td>
                    <td >Serial</td>
                    <td><input type="text" class="form-control numero" data-validation="required" data-validation-error-msg="Debe digitar un numero serial " maxlength="10" placeholder="Numero de serie" id="numeroSerial" /> </td>
                

                </tr>
                <tr>
                    <td>Referencia</td>
                    <td><input type="text" class="form-control" data-validation="required" data-validation-error-msg="Debe digitar la referencia del bien " maxlength="10" placeholder="Referencia" id="nombreReferencia" /></td>

                </tr>

                <tr>

                    <td>Fecha de Compra</td>

                    <td>
                        <div class="input-group date fecha"> 
                            <input type="text" class="form-control datepicker" id="fechacompra">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>

                </tr>

                <tr>

                    <td>Fecha de Ingreso</td>

                    <td> <div class="input-group date fecha" >
    <input type="text" class="form-control datepicker" id="fechaingreso">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i>
    </span>
    </div>
                    </td>

                </tr>


                <tr>
                   
                    <td colspan="4" align="right">
  
                         <input type="submit" value="Registrar" class="btn-primary" />
                    
                    </td>

                </tr>

            </table>
        </form>

    </div>
</div>
<script>
    var spanishLanguage = {
        errorTitle:'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validationOnBlur: false, // distable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' wich is default
        scrollToTopOnError: true, // set this property to true on longer form
        language: spanishLanguage
    });


    $('.fecha').datepicker({
        language: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true
     
    });

    $(".numero").keyup(function(){
    this.value=this.value.replace(/[^0-9\.]/g, '');

    });

    $('#registro').submit(function (event){

        if ($('#numeroSerial').val().length <6 ) {
            bootstrap_alert.warning('El numero de documento debe tener minimo seis digitos')
            return false;
        }


    });


    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
        html('<div class="alert alter-danger"><a class="close" data-dismiss="alert">x</a><span>' + message + '</span></div>');
    }; 




</script>







